h2 {
    margin: auto;
    padding-top: auto;
    border-radius: 20px;
    color: var(--primary-color);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--secondary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#input {
    margin: 10px;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-color);
    background-color: var(--black-color1);
    text-align: center;
    width: 40%;

}

#listItem {
    margin: 10px;
}

#submit-button {
    border-radius: 30px;
    background-color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 30%;
    color: var(--black-color1);
}

.closeButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--blue-color0);
    background-color: var(--black-color1);
    border-radius: 8px;
}

::placeholder {
    color: var(--blue-color0);
}

#grid-container {
    margin: 30px;
    max-width: 100%;
    justify-content: start;
    align-items: stretch;
    display: grid;
    grid-template-columns: auto;
    grid-area: auto;
    border: 3px dashed var(--blue-color0);
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
    background-color: var(--secondary-color);

}

:root {
    --primary-color: #EA9215;
    --secondary-color: #EEEEEE;
    --black-color0: #3A4750;
    --black-color1: #303841;
    --blue-color0: #11999E;
}
